:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

   color: #000;
  background-color: #fff;

}

* {
  box-sizing: border-box;
}

#status-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.result-row {
  font-family: monospace;
}
.result-row > span {
  display: inline-block;
  width: 120px;
  border-right: 1px solid #aaa;
  padding: 2px 8px;
  text-align: right;
}
.result-row > span:first-child {
  font-weight: bold;
}
.result-row > span.dropped {
  color: red;
}

.result-head-row > span {
  display: inline-block;
  width: 120px;
  border-bottom: 1px solid #aaa;
  padding: 2px 8px;
  text-align: center;
}